<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Answer easy-poll</title>
  <link rel="shortcut icon" href="/poll.png">
  <link rel="apple-touch-icon" href="/poll.png">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:300,600&subset=latin-ext">
  <link rel="stylesheet" href="/styles.css">
  <script src="/answer.js" async></script>
</head>

<body>
  <h1 id="question">Loading poll...</h1>
  <button class="answer"></button>
  <button id="show-results"></button>
</body>

</html>
