<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Create easy-poll</title>
  <link rel="shortcut icon" href="/poll.png">
  <link rel="apple-touch-icon-precomposed" href="/poll.png">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:300,600&subset=latin-ext">
  <link rel="stylesheet" href="/styles.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.4/clipboard.min.js" integrity="sha256-FiZwavyI2V6+EXO1U+xzLG3IKldpiTFf3153ea9zikQ=" crossorigin="anonymous" async></script>
  <script src="/create.js" async></script>
</head>

<body>
  <form>
    <input type="text" id="question-field" placeholder="Put your question here">
    <input type="text" class="answer-field" placeholder="Put an option here">
    <input type="text" class="answer-field" placeholder="Put an option here">
    <input type="text" class="answer-field" placeholder="Put an option here">
    <input type="submit" value="Create poll">
  </form>
</body>

</html>
