<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Answers for easy-poll</title>
  <link rel="shortcut icon" href="/poll.png">
  <link rel="apple-touch-icon" href="/poll.png">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:300,600&subset=latin-ext">
  <link rel="stylesheet" href="/styles.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" integrity="sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw=" crossorigin="anonymous" async></script>
  <script src="/socket.io/socket.io.js" async></script>
  <script src="/statistics.js" async></script>
</head>

<body>
  <canvas id="results"></canvas>
</body>

</html>
